<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Documents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let file of files">
        <ion-card (click)="openFile(file.url)" class="file-card">
          <ion-card-header>
            <ion-icon name="document-outline" size="large"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <h3>{{ file.filename }}</h3>
            <p>{{ file.created_at | date: 'medium' }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #noFiles>
    <ion-text color="danger" class="ion-text-center">
      <h3>No documents found.</h3>
    </ion-text>
  </ng-template>

  <div *ngIf="selectedFileUrl">
    <h3>Preview:</h3>
    <iframe [src]="selectedFileUrl" width="100%" height="500px"></iframe>
  </div>
</ion-content>
