<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-label position="floating">Old Password</ion-label>
      <ion-input type="password" formControlName="oldPassword"></ion-input>
      
    </ion-item>
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
      Password must be at least 6 characters long.
    </ion-text>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.touched">
      Passwords do not match.
    </ion-text>

    <ion-button expand="full" type="submit" [disabled]="resetPasswordForm.invalid">
      Reset Password
    </ion-button>
  </form>
</ion-content>
