<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      

    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Company Contact Info</ion-title>
  </ion-toolbar>
  
  
</ion-header>

<ion-content *ngIf="companyDetails">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ companyDetails.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>GST No:</strong> {{ companyDetails.gst_no }}</p>
      <p><strong>Email:</strong> 
        <a href="mailto:{{ companyDetails.email }}">{{ companyDetails.email }}</a>
      </p>
      <p><strong>Phone:</strong> 
        <a href="tel:{{ companyDetails.phone.split(',')[0] }}">{{ companyDetails.phone }}</a>
      </p>
      <p><strong>Address:</strong> {{ companyDetails.address }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="!companyDetails">
  <ion-spinner name="dots"></ion-spinner>
  <p>Loading company details...</p>
</ion-content>
