<ion-header>
  <ion-toolbar>
    <ion-title>Estimates</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Image Upload Section -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Upload Estimate Image</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="selectImage()">Upload or Capture</ion-button>

      <!-- Progress Bar (Visible only when uploading) -->

    </ion-card-content>
  </ion-card>

  <!-- Display Images Side by Side -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3" *ngFor="let estimate of estimates; let i = index">
        <ion-card class="image-card">
          <img [src]="estimate.img_url" alt="Estimate Image" />
          <ion-card-content>
            <div class="status-container">
              <div class="status-label">
                <strong>Status:</strong>
                <ion-badge [color]="estimate.status === '1' ? 'warning' : 'success'">
                  {{ estimate.status === '1' ? 'Pending' : 'Completed' }}
                </ion-badge>
              </div>
          
              <ion-button fill="clear" color="danger" (click)="confirmDelete(estimate.id, i)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
          
          
          
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>