<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-title>Upload Order Image</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="selectImage()">Upload or Capture</ion-button>

      <!-- Progress Bar (Visible only when uploading) -->

    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3" *ngFor="let order of orders; let i = index">
        <ion-card class="image-card">
          <img [src]="order.img_url" alt="order Image" (click)="openImageModal(order.img_url)"  />
          <ion-card-content>
            <div class="status-container">
              <div class="status-label">
                <strong>Status:</strong>
                <ion-badge [color]="order.status === '1' ? 'warning' : 'success'">
                  {{ order.status === '1' ? 'Pending' : 'Completed' }}
                </ion-badge>
              </div>
            </div>
          <ion-button fill="clear" color="danger" class="delete-btn" (click)="confirmDelete(order.id, i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-modal #imageModal [isOpen]="isModalOpen">
            <ion-content class="ion-padding">
              <img [src]="selectedImage" *ngIf="selectedImage" class="preview-image" />
              <ion-button expand="full" (click)="closeModal()">Close</ion-button>
            </ion-content>
          </ion-modal>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button expand="full" (click)="presentActionSheet()">Add Image</ion-button> -->
</ion-content>
